<!DOCTYPE html>

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
    <title>Note delete</title>
</head>
<body>
    <h1>Delete this note?</h1>

    <p>Are you sure to delete note <strong>"{{ object.title }}"</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background: red; color: white; padding: 10px; border: none; cursor: pointer;">Yes</button>
        <a href="{% url 'note_list' %}" type="submit" style="background: darkgray; text-decoration: none; color: white; padding: 10px; border: none; cursor: pointer;">No</a>
    </form>
</body>
</html>