<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Note</title>
    <link href="https://cdn.jsdelivr.net" rel="stylesheet">
    <style>
        input, textarea, select {
            width: 100%; padding: 8px; border: 1px solid #dee2e6; border-radius: 6px; display: block; margin-bottom: 10px;
        }
        input:invalid, textarea:invalid { border-color: #dc3545;}
        input:valid, textarea:valid { border-color: #198754; }
    </style>
</head>
<body class="bg-light p-5">
    <nav class="navbar navbar-dark bg-dark mb-4 shadow-sm">
        <div class="container">
            <a class="navbar-brand" style="color: #6495ED; text-decoration: none;" href="{% url 'note_list' %}">📘 MyNotes</a>
           <a href="https://github.com/Mihaiyl/notes_forms" target="_blank" class="btn btn-dark d-flex align-items-center justify-content-center gap-2"><i class="fa-brands fa-github"></i> GitHub </a>
        </div>
    </nav>

    <div class="container" style="max-width: 450px;">
        <div class="card shadow-sm p-4">
            <h3 class="text-center mb-4">{% if object %}Edit Note{% else %}New Note{% endif %}</h3>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

               <div class="d-grid gap-2 mt-4">
                   <button type="submit" style="background: #198754; border: none; color: white; padding: 5px 10px;">Save</button>

                   {% if object %}
                   <a href="{% url 'note_delete' object.pk %}" class="text-center d-block" style="background: #dc3545; color: white; padding: 5px 10px; text-decoration: none ">Delete</a>
                   {% endif %}

                   <a href="{% url 'note_list' %}" class="small text-muted text-decoration-none mt-2">← Back</a>
                    {% load django_bootstrap5 %}
                    {% bootstrap_css %}
                    {% bootstrap_javascript%}
               </div>
            </form>
        </div>
    </div>
</body>
</html>